<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Korin Figel</title>
        <!--<link rel="stylesheet" href="/public/stylesheets/animate.min.css">-->
        <link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Shadows+Into+Light+Two" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
        <link href="https://fonts.googleapis.com/css?family=Carter+One|Kalam:400,700" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
         crossorigin="anonymous"></script>

         <script type="text/javascript" src="/public/stylesheets/script.js"></script>


    </head>
<body>



    <div class="container">
          <!--<img id="korin" src="../images/korinfigel.jpg" />-->

    <div class="name">
        <h1><span class="rainbowz">KORIN FIGEL</span></h1>
        <p class="intro">
            Welcome! I created this site from scratch using MongoDB, Node.js and Express. Check out the link below to learn more about me, and view my blog! You will be required to create an account to view all of my blog posts.
        </p>
    </div>
    <div class="btn-container">
            <button>
                <a class="rainbow-button" href="/about" alt="View More"></a>
            </button>



        <button>
            <a class="rainbow-button" href="/blog" alt="check out my blog"></a>
        </button>
        </div>
    </div>






</body>
</html>
