<% include partials/header %>

<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Korin Figel</a>
                </div> <!--closes navbar-header div-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about">About</a></li>
                        <li class="active"><a href="/index">My Work</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div> <!--closes navbar-collapse div-->
            </div> <!--closes div container-->
        </div> <!--closes navbar default role navigation div-->

<!--*********JUMBOTRON*********-->
  <div class="container">
    <div class="jumbotron">
      <h1 class="jumbo-h1">My Work Gallery</h1>
    </div>

    <!--*******-END JUMBOTRON-*********-->

<!--**********IMAGE GALLERY***********-->
  <div class="row">
      <!--Image 1-->
      <div id="one" class="col col-lg-4 col-md-6 col-sm-6">
        <a class="rainbow-button2" alt="project"></a>
      </div>
      <!--Image 2-->
      <div id="two" class="col col-lg-4 col-md-6 col-sm-6">
        <a class="rainbow-button2" alt="project"></a>
      </div>
      <!--Image 3-->
      <div id="three" class="col col-lg-4 col-md-6 col-sm-6">
        <a class="rainbow-button2" alt="project"></a>
      </div>
    </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">

    </div>
  </div>
</div>
<!--************END IMAGE GALLERY************-->

<% include partials/footer %>
